body{
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.5px;
    font-family:"comic sans ms","helvetica",sans-serif;
}
.title,#elem1{
    color: red;
}
h2 ~ p{
    color: blue;
}
input[type="text"]{
    width: 200px;
}
a{
    color: blue;
}
a:hover{
    color: green;
}
span{
    background-color: purple;
}
.header{
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    background-color:grey;
    padding: 20px;
    margin-top: 0px;
    height: 300px;
    color:white;
    background-image: url("image4.jpg");
    background-repeat: no-repeat;
    background-attachment: local,fixed;
    background-position:center top;
    background-size: 100% 100%,cover;
}
.header-img{
    width: 300px;
    height: 200px;
    
}
.header-title{
    margin-top: 0;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;

}
.header-nav{
    overflow: hidden;
    text-align: center;
}
.header-nav a{
    color:white;    
    text-decoration: none;
}
.header-nav a:hover{
    text-decoration: underline;
}
.main{
    background-color: lightgray;
    padding: 20px;
    overflow: hidden;
    font-size: 16px;
}
.main p{
    text-align: justify;}
.button{
    color: white;
    background-color: rgb(20, 123, 192);
    padding: 5px 10px;
    text-decoration: none;
    font-size: 20px;
}
.footer{
    background-color: grey;
    padding: 10px 20px;
}
.alignleft{
    width: 300px;
    height: 200px;
    float: left;
    margin-right: 15px;
}
.alignright{
    width: 300px;
    height: 200px;
    float: right;
    margin-right: 15px;
}
hr{
    clear: both;
}

.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.header-title{
    white-space: nowrap;
}
.banner{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(238, 237, 237);
    height: 300px;
}
.banner h1{
    margin-bottom: 0 0 10px 0;
}
.banner p{
    margin-top: 0;
}
.banner a{
    padding: 5px 10px;
    background-color:blue;
   color:white;
   text-decoration: none;
   line-height: 1;
}
.page{
    display: flex;
}

.main{
    flex:1 1;    
}
.sidebar{
    flex:none;
    width: 250px;
    background-color: white;
}