:root{
    --color:#2CC09C;
}

.topbar{
    font-family: Roboto,sans-serif;
    font-size: 12px;
    color: #FFF;
    background-color: #212529;
}

.topbar a{
    color:inherit;
    text-decoration: none;
}
.topbar ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.topbar li{
    padding:0 8px
}
.topbar li,
.topbar a{
    display: flex;
    height: 40px;
    align-items: center;
    transition: color .5s;  
}

.topbar svg{
    height: 12px;
    width: 12px;
    margin-right: 8px ;
}

.topbar .topbar__lang{
    margin-left: auto;
}

.topbar__infos{
    background-color: var(--color);
}

.topbar__links svg{
    color: var(--color);
}
.topbar__links a:hover{
    color: var(--color);
}

.topbar__lang a::after{
    content: '';
    display: inline-block;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #FFF;
    width: 0;
    height: 0;
    margin-left: 6px;
}

.topbar__container{
    max-width: 1016px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width:720px){
    .topbar{
        font-size: 14px;
        background:linear-gradient(to right, var(--color),var(--color) 50%,#212529,#212529 50.01%);
    }
    .topbar__container{
        display: flex;
        justify-content: space-between;
        background-color: #212529;   
    }

    .topbar li,
    .topbar a{
        height: 55px;
    }   

    .topbar svg{
        height: 16px;
        width: 16px;
    }
    .topbar__infos li:last-child{
        background-color: #212529;
        padding-left: 0;
    }
    .topbar__infos li:last-child::before{
    content: '';
    margin-right: 15px;
    display: inline-block;
    border-right: solid 30px transparent;
    border-bottom: solid 55px var(--color);
    }
    .topbar__infos li:last-child svg{
        color: var(--color);
    }
}